/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/*****************************************************************************/
/*
/* Program table
/*
/*****************************************************************************/
#program td {
	color: black;
	padding: 5px;
	text-align: center;
}

#program .white {text-align: left; background-color: white !important;}
#program .day {
	font-weight: bold;
  color: white;
	background-color: #E42500 !important;
}
#program .time {background-color: white !important;}
#program .opening {text-align: center; background-color: #e0edd4 !important;}
#program .chair {text-align: left; background-color: #e0edd4 !important;}
#program .keynote {background-color: white !important; font-weight: bold; color: #e94000;}
#program .paper {background-color: white !important;}


