<header id="head" role="banner" class="container">
    <hgroup class="ten columns alpha">
        <!--div id="logo">
            <a href="{{ site.url }}" title="JOWO 2015">
                <img id="logo-img" src="{{ site.url }}/resources/jowo-logo.png" alt="JOWO 2015"/>
            </a>
        </div-->

        <div id="site-title-wrapper">
            <h1 id="site-title"><a href="{{ site.url }}" title="Home">JOWO 2015</a></h1>
            <div class="site-slogan">The Joint Ontology Workshops co-located with IJCAI 2015 <br/> Episode 1: The Argentine Winter of Ontology</div><!--site slogan-->
        </div>
    </hgroup>
</header>
