---
layout: womo
---
<div class="container" id="content-wrapper">
<div id="sidebar">
  <li><a href="index.html">WoMO Home</a>
  <li><a href="pc.html">Program Committee</a>
  <li><a href="organization.html">Organization</a>
  </div>
<div id="content" class="thirteen columns">
<section id="post-content" role="main">
<h1 class="page-title">{{ page.title }}</h1>
<div class="region region-content">
<div id="block-system-main" class="block block-system">
<div class="block-inner clearfix">
<div class="block-content" >
{{ content }}
</div>
</div>
</div>
</div>
</section>
</div>
{% include sidebar.html %}
</div>
